<h1>
<%= @post.title %>
</h1>
<p>
<%= time_ago_in_words(@post.created_at) %>
</p>
<p>
<%= @post.body %>
</p>

<p>
	<%= link_to 'Edit Post', edit_post_path(@post) %>
	<%= link_to 'Del Post', post_path(@post), method: :delete, data: {confirm: 'Are You Sure ?'} %>

</p>