<%= form_for(@post) do |f| %>
        <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
        </p>
        <%= f.label :caption %><br>
        <%= f.text_area :caption %>

        <% if @post.errors.any? %>
                <%= pluralize(@post.errors.count, 'error') %>
                <ul>
                        <% @post.errors.full_messages.each do |msg| %>
                                <li><%= msg %></li>
                                <% end %>
                </ul>
        <% end %>
<%= f.submit %>
<% end %>
