<!DOCTYPE html>
<html>
  <head>
    <title>Tumblr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<ul>
  		<li>
  			<%= link_to 'Tumblr', root_path %>
  			<%= link_to 'About', about_path %>
  			<%= link_to 'Posts', posts_path %>
  		</li>
		  <li>
		  <% unless user_signed_in? %>

		  		  <%=  link_to 'Login', new_user_session_path %>
		  		  <%=  link_to 'Signin', new_user_registration_path %>
		  
		  <%else%>
	<%=  link_to 'Logout', destroy_user_session_path, method: :delete %>
		  <%end%>
		  	
		  </li>
  		<li>
		  <% if current_page?(root_path)%>
  			<%= link_to 'New Post', new_post_path %>
			<%elsif current_page?(about_path)%>
			  <p> My site</p>
			  <% else %>
			    			<%= link_to 'Back to home', root_path %>

			  <%end%>
  		</li>
  	</ul>
    <%= yield %>
	<div>
  	</div>
	  <p>
	   <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>


	  </p>	
    </body>
</html>
