<!DOCTYPE html>
<html>
  <head>
    <title>Tumblr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<ul>
  		<li>
  			<%= link_to 'Tumblr', root_path %>
  		</li>
  		<li>
  			<%= link_to 'New Post', new_post_path %>
  		</li>
  	</ul>
    <%= yield %>
	<div>
  		<% flash.each do |f| %>
  		<%= content_tag(:div, msg, class: 'alert')%>
  			<%end%>
  	</div>
    </body>
</html>
